@import '../demo-colors';

.button-row button,
.button-row a {
  margin-right: 8px;
}

h1 {
  color: mat-color($demo-primary, 900);
}

h3 {
  margin-top: 16px;
}

.custom-component-wrapper {
  margin-top: 8px;
}
