@import '~@angular/material/theming';

$blue: (
  50 : #e4f2fd,
  100 : #bcdffb,
  200 : #90caf9,
  300 : #64b5f6,
  400 : #42a5f4,
  500 : #2195f2,
  600 : #1d8df0,
  700 : #1882ee,
  800 : #1478ec,
  900 : #0b67e8,
  A100 : #ffffff,
  A200 : #e0ebff,
  A400 : #adcbff,
  A700 : #93bbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lime:(
  50 : #f9fbe7,
  100 : #f0f4c3,
  200 : #e6ed9c,
  300 : #dbe674,
  400 : #d4e056,
  500 : #ccdb38,
  600 : #c7d732,
  700 : #c0d22b,
  800 : #b9cd24,
  900 : #adc417,
  A100 : #fefff6,
  A200 : #f7ffc3,
  A400 : #efff90,
  A700 : #ecff77,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$demo-primary: mat-palette($blue);
$demo-accent: mat-palette($lime);
